.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}

.login > img {
  width: 100%;
}

.login > a {
  border-color: #1db954;
  padding: 20px;
  background-color: #1db954;
  border-radius: 90px;
  font-weight: 800;
  color: white;
  text-decoration: none;
}

a:hover {
  background-color: #20c85b;
  border-color: #20c85b;
}
.login > button {
  border-color: #1db954;
  padding: 20px;
  background-color: #1db954;
  border-radius: 150px;
  font-weight: 800;
  color: white;
  text-decoration: none;
}
button:hover {
  background-color: #20c85b;
  border-color: #20c85b;
}
